
<div class="container-fluid mainfooter overflow-hidden">

<div id="yourFavoriteBrands" class="container d-flex flex-column justify-content-center">
  <img
    id="yourFavoriteBrandsImg"
    src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_title-10.png"
    alt=""
  />
  <div class="row">
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_01.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_07.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_13.png"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_02.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_08.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_14.png"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_03.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_09.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_15.png"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_04.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_10.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_16.png"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_05.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_11.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_17.png"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_06.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_12.png"
        alt=""
      />
      <img
        class="brands img-fluid"
        src="https://k.nooncdn.com/cms/pages/20211206/8908ea4092c77b5ac68851cf40251c4b/en_brand_18.png"
        alt=""
      />
    </div>
  </div>
</div>


<div>
  <!-- seperator -->
  <hr id="seperate1" />

  <!-- Above Footer Section -->
  <div id="aboveFooter" class="container d-flex justify-content-between" style="max-width: 75%;">
    <div>
      <p id="weAreHere">We're Always Here To Help</p>
      <p id="reachOut">Reach out to us through any of these support channels</p>
    </div>

    <!-- Contact Section -->
    <div id="contactInfo" class="d-flex">
      <div class="d-flex flex-row align-items-center">
        <div>
          <i class="fa-solid fa-circle-info contactIcon"></i>
        </div>

        <div>
          <p id="contactLabel">HELP CENTER</p>
          <p class="contactWay">help.noon.com</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center">
        <div>
          <i class="fa-solid fa-envelope contactIcon"></i>
        </div>

        <div>
          <p id="contactLabel">EMAIL SUPPORT</p>
          <p class="contactWay">egypt@noon.com</p>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center">
        <div>
          <i class="fa-solid fa-phone contactIcon"></i>
        </div>

        <div>
          <p id="contactLabel">PHONE SUPPORT</p>
          <p class="contactWay">16358</p>
        </div>
      </div>
    </div>
  </div>

  <hr id="seperate2" />
</div>


<div class="container-fluid footerFluid">

  <div class="container footer" style="max-width: 79.5%;">
    <div class="row">
      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">ELECTRONICS</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Mobiles</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Tablets</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Laptops</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Home Appliances</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Camera, Photo & Video</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Televisions</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Headphones</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Video Games</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">FASHION</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Women's Fashion</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Men's Fashion</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Girls' Fashion</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Boys' Fashion</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Men's Watches</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Women's Watches</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Eyewear</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Bags & Luggage</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">HOME AND KITCHEN</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Kitchen & Dining</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Bedding</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Bath</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Home Decor</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Home Appliances</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Tools & Home Improvement</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Patio, Lawn & Garden</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Home Storage & Organisation</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">BEAUTY</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Women's Fragrance</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Men's Fragrance</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Make-Up</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Haircare</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Skincare</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Personal Care</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Tools & Accessories</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">KIDS, BABY & TOYS</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Strollers, Prams & Accessories</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Car Seats</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Baby Clothing</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Feeding</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Bathing & Skincare</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Diapering</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Baby & Toddler Toys</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Toys & Games</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul>
          <li class="footerCatHeader">
            <a class="footerCatHeader" href="">TOP BRANDS</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Apple</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Samsung</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Nike</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Ray-Ban</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Tefal</a>
          </li>

          <li>
            <a class="footerCatItems" href="">L'Oreal Paris</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Chicco</a>
          </li>

          <li>
            <a class="footerCatItems" href="">Tornado</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-around" style="margin-top: 2%;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p id="shopOnTheGo">SHOP ON THE GO</p>
        <div class="d-flex">
          <div>
            <img
              class="img-store img-fluid"
              src="https://z.nooncdn.com/s/app/com/common/images/logos/app-store.svg"
              alt=""
            />
          </div>

          <div>
            <img
              class="img-store img-fluid"
              src="https://z.nooncdn.com/s/app/com/common/images/logos/google-play.svg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center">
        <p id="connectWithUs">CONNECT WITH US</p>
        <div class="container" style="width: 140%; max-width: 140%;">
          <i class="fa-brands fa-facebook social"></i>
          <i class="fa-brands fa-twitter social"></i>
          <i class="fa-brands fa-instagram-square social"></i>
          <i class="fa-brands fa-linkedin social"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<hr id="seperate3" />


<div class="row d-flex">

  <div class="col-4">
    <p id="rights">© 2022 noon. All Rights Reserved</p>
  </div>

  <div class="col-4">
    <i class="fa-brands fa-cc-mastercard pay"></i>
    <i class="fa-brands fa-cc-visa pay"></i>
    <i class="fa-solid fa-wallet pay"></i>
    <i class="fa-solid fa-building-columns pay"></i>
  </div>

  <div id="footerLinksFinal" class="col-xl-4 col-lg-12 d-flex flex-row justify-content-around">
    <ul>
      <a href="" class="footerCatItems2">Careers</a>
      <a href="" class="footerCatItems2">Warranty Policy</a>
      <a href="" class="footerCatItems2">Sell with us</a>
      <a href="" class="footerCatItems2">Terms of Use</a>
      <a href="" class="footerCatItems2">Terms of Sale</a>
      <a href="" class="footerCatItems2">Privacy Policy</a>
    </ul>
  </div>

</div>


</div>
