<div class="col-lg-9 col-md-9 mt-4"  >
    <div class="row">
        <div class="col-lg-9">
            <h3>Payment</h3>
          <p>see how your Payment managed and check the lastest status on your Payment</p>

        </div>
       
           
    
    <div class="cart p-4 ">
             <div class="row">
             
                 <div class="col-lg-4 col-md-4">
                    <i class="fa fa-paypal paypal"></i>
                   <p>Date of last payment <time>Nov 2023</time> </p>
               </div>
               <div class="col-lg-4 position-relative col-md-4">
                 
                 <button class="btn btn-default" style="color: red;"><i class="fa-solid fa-trash-can">   </i> Delete</button> 
               </div>
               <div class="col-lg-4 col-md-4">
                <h3>Paypal</h3>
                <p>Defualt Payment</p>
              

               </div>  
             </div>
       </div>


     
</div>


