.footerFluid {
    background-color: #fff;
    padding-bottom: 0%;
  }
  
  
  
.footerCatItems2 {
    color: #40455e;
    font-size: small;
    font-weight: 400;
  }
  .footerLinksFinal{
      background-color: #eee;
      width: 100%;
    bottom: 0;
  
      
  }
  .footerLinksFinal a{
    text-decoration: none;
    margin-left: 10px;
    
}