<div id="reveiws" class="">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <ng-container *ngFor="let rev of productReviews">
          <div class="col-md-2">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
            <p class="text-secondary text-center">{{rev.createdAt | date:'short'}}</p>
          </div>
          <div class="container col-md-10">
            <div class="row">
              <div class="col-12 mb-4">
                <span class="text-uppercase fs-3 me-4">{{rev.customerName}}</span>
                <ng-container *ngIf="rev.productRating == rateEnum.One">
                  <span class="fs-3">
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="rev.productRating == rateEnum.Two">
                  <span class="fs-3">
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="rev.productRating == rateEnum.Three">
                  <span class="fs-3">
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="rev.productRating == rateEnum.Four">
                  <span class="fs-3">
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-secondary opacity-50 fa fa-star"></i></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="rev.productRating == rateEnum.Five">
                  <span class="fs-3">
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                  </span>
                </ng-container>
              </div>
              <div class="col-12 fw-bold">
                {{rev.productComment}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
