<div class="pop" id="pop">
  <mat-spinner *ngIf="isspener"></mat-spinner>
</div>

<app-home-header></app-home-header>





<div class="container">





  <div class=" btn  col-10 m-5 border py-3 payment" (click)="PayCash()">Pay With Cash</div>



  <div class=" btn  col-10 m-5 border py-3 payment" (click)="PayPal()">Pay With PayPal</div>



  <div class=" btn  col-10 m-5 border py-3 payment" (click)="NoonBalance()">Pay With Noon Balance</div>





</div>

















<!-- <div class="container-fluid" > -->
<!-- <div class="cartdiv" > -->

<!-- <div class="row"> -->
<!-- <div class="col-lg-7 col-md-7  mt-4" style="margin-left: 50px;" > -->
<!-- <div class=" p-1" id="headercart">   -->
<!-- <h2>Payment</h2>  -->
<!-- <h4>Payment Method</h4>  -->
<!-- </div> -->

<!-- <div class="cart"> -->

<!-- <div> -->
<!-- <div class="row p-2"> -->
<!-- <div class="col-lg-1"> -->
<!-- <div class="form-check form-switch col-2"> -->
<!-- <label class="form-check-label" for="flexSwitchCheckChecked"></label> -->
<!-- <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"  -->
<!-- > -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-lg-9"> -->
<!-- <h2>Pay with noon pay</h2> -->
<!-- <p>Available balance: EGP 0</p> -->

<!-- </div> -->
<!-- <div class="col-lg-1 mt-3"> -->
<!-- <img src="https://k.nooncdn.com/s/app/2019/noon-checkout/afb70b5c60e0c158280b3e5b6d53bd523a6e965e/static/images/noon-pay.svg"> -->

<!-- </div> -->

<!-- </div> -->


<!-- </div> -->
<!-- </div> -->

<!-- <div class="cart mt-5"> -->

<!-- <div> -->
<!-- <div class="row p-4"> -->
<!-- <div class="col-lg-6 "> -->

<!-- <button class="btn btn-outline-primary text-center w-100 btn-pay"><i class="fa fa-book me-3"></i> pay with paypal</button>     -->
<!-- </div> -->
<!-- <div class="col-lg-6 "> -->
<!-- <button class="btn btn-outline-primary text-center w-100 btn-pay"><i class="fas fa-paypal me-3" aria-hidden="true"></i> Pay with Cash</button>   -->

<!-- </div> -->

<!-- </div> -->


<!-- </div> -->
<!-- </div> -->
<!-- <div class="cart mt-5"> -->

<!-- <div>  -->
<!-- <div class="col-lg-12 mb-5"> -->

<!-- <button class="btn btn-primary text-center w-100" style="border-radius: 0;" > order placed</button>     -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->


<!-- <app-payment-order></app-payment-order> -->



<!-- </div> -->

<!-- <div class="col-lg-4 col-md-4 mt-4 "> -->
<!-- <app-order-summery-order></app-order-summery-order> -->
<!-- </div> -->

<!-- </div> -->


<!-- </div> -->
