<!-- <app-home-header></app-home-header> -->
<div class="pop" id="pop">
  <mat-spinner *ngIf="isspener"></mat-spinner>
</div>
<app-home-header (SearchTextCganged)="onSearchTextEnterd($event)"></app-home-header>
<div class="container-fluid">
  <div class="container-fluid overflow-hidden" id="ProductList">
    <div class="row">
      <a class="product-card ms-3"
        *ngFor="let prd of Products |paginate:{itemsPerPage:productSize,currentPage:page,totalItems:count}; let i=index"
        [routerLink]="['/egypt-en','p',prd?.id]">
        <div>
          <div class="product-tumb">
            <img src="{{prd?.imageThumb}}" />
          </div>

          <div class="product-details text-start d-flex flex-column justify-content-start">
            <!-- <h5>{{localstorge=="en"?prd?.name:prd?.nameAr}}</h5> -->
            <h5 class="text-start">{{(localstorge=="en"? prd.name:prd.nameArabic)|stringLength}}</h5>

            <!-- <p>{{localstorge=="en"?prd?.description:prd?.descriptionAr}}</p> -->

            <div class="text-start d-flex flex-column justify-content-start">
              <div class="product-bottom-details text-start">
                <ng-container *ngIf="prd.discount==0;  else NoDicount">
                  <span class="mb-5 fw-bold">
                    {{prd.price | currency: "EGP ":"symbol"}}
                  </span>
                </ng-container>

                <ng-template #NoDicount>
                  <span class="fw-bold fs-5 text-start" style="text-align:start">
                    {{prd.price | afterDiscountPrice:prd.discount |currency: "EGP ":"symbol"}}
                  </span>


                  <br />
                  <span class="text-decoration-line-through fw-light" style="color: #7E859B;">
                    {{prd.price|currency:"EGP":"symbol"}}</span>
                  <span style="color: #5DBD32; font-weight: bold;"> {{prd.discount*100 | number : '1.0-2'}}% OFF
                  </span>
                  <div *ngIf="prd.isFreeDelivered">
                    <img class="img-fluid w-25 mt-2"
                      src="https://z.nooncdn.com/s/app/com/noon/images/fulfilment_express_v2-en.svg" alt="">
                  </div>
                </ng-template>



                <!-- <app-home-footer></app-home-footer> -->
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="page d-flex flex-row justify-content-center align-content-center">
      <pagination-controls previousLabel="{{'Pagination.Previous'|translate}}"
        nextLabel="{{'Pagination.Next'|translate}}" (pageChange)="onDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
